<% provide(:title, 'About us') %>

<body>
    <h1>About Us</h1>
    <p>
        Это учебник языка Ruby on Rails 
        <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
        где имеется готовые проекты которые написано в одной книги и есть готовые скринкасты 
        с <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
        Это обычный проекты на основе это го языка
    </p>
</body>
