<% provide(:title, 'Home') %>

<body>
    <h1>Домашняя страница</h1>
        <p>
            Это домашняя страница учебника
            <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
            для простого приложения.
        </p>
    </body>
    
